.topbar 
  a.topbar-logo(href="/")
    img(src="./assets/images/Logo.png", alt="Logo Gocast")
  .search 
    img(src="./assets/icons/icon-search.svg", alt="Icon Search").search-icon
    input(type="text" placeholder="Search 2+ million podcasts and listeners").search-input
  .topbar-right
    button.button.button--primary.button-upload
      img(src="./assets/icons/icon-upload.svg", alt="Icon Upload")
      span Upload
    a(href="#").topbar-action
      img(src="./assets/icons/icon-message.svg", alt="Icon Message")
    a(href="#").topbar-action
      img(src="./assets/icons/icon-notification.svg", alt="Icon Notification")
    a(href="#").profile
      img(src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cmFuZG9tfGVufDB8fDB8fHww", alt="Image Profile")