$font-primary: "IBM Plex Sans", sans-serif;
$bg-color: #ffffff;
$text-gray: #8494ab;
$text-black1: #1b1d21;
$gray1: #5e6064;
$gray2: #a5a6b1;
$graye9: #ebeff5;
$gray37: #373a43;
$gray-natural: #676a6f;
$gray-natural1: #f8f8f8;
$gray-natural2: #eff2f6;
$primary-black: #232333;
$primary-color: #6c5dd3;
$primary-color-4: #a79ee5;
$gradient: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
